html{
    min-height: 100%;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    background-color: whitesmoke;
}
.portada{
    color: white;
    background-image: url("../img/fondoVEN.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .menu{
    display: block;
}

.btnm{
    display: block;
    padding: 1rem 0 0 1rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: #000000bd 0.1rem 0.1rem;
}
hr{
    background: rgb(247,186,150); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(247,186,150,1) 0%, rgba(140,200,172,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(247,186,150,1) 0%,rgba(140,200,172,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(247,186,150,1) 0%,rgba(140,200,172,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ba96', endColorstr='#8cc8ac',GradientType=1 ); /* IE6-9 */
    
}
nav{
    width: 30%;
    display: inline-block;
}
.intro{
    width: 70%;
    float: right;
}
.menu{
    margin-top: 0;
    list-style: none;
    flex-direction: column;
    display: none;
    transform: translateX(-34px);
}
.menu li{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-family: 'Questrial', sans-serif;
    padding: 0.3rem;
    font-size: 1rem;
    text-shadow: #000000bd 0.1rem 0.1rem;
    
}
.menu li a:hover{
    font-size: 1.1rem;
    
}
.portadaText{
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    top: 0;
    right: 45%;
    position: absolute;
    text-shadow: #000000bd 0.1rem 0.1rem;
}
.t1,.t2,.t3{
    text-shadow: #000000bd 0.15rem 0.15rem;
}
.t1{
    font-family: 'Questrial', sans-serif;
    color: white;
    margin-left: 6%;
    font-size: 3rem;
    margin-top: 10rem;
}
.t2{
    font-family: 'Questrial', sans-serif;
    color: #9e9e9e;
    font-size: 2.5rem;
    margin-left: 10%;
}
.t3{
    font-family: 'Questrial', sans-serif;
    color: #ff9800f7;
    font-size: 2.5rem;
    margin-left: 6%; 

}
@media screen and (max-width: 500px){
    .menu{
        flex-direction: column;
        display: none;
        transform: translateX(-34px);
    }
    .btnm{
        display: block;
        padding: 0.5rem 0 0 0.5rem;
        font-size: 23px
    }
    #btn-menu:checked ~ .menu{
        display: block;
    }
    
}
/*Sobre*/
.titulo{
    color: #ff9800f7;
    font-family: 'Questrial', sans-serif;
    margin: 0;
    text-shadow: #0000008c 0.1rem 0.1rem;
}
.sobre, .proyectos, .contacto{
    width: 85%;
    margin: 2.2rem auto;
    padding: 0.3rem 1rem 1rem 1rem;
}
.sobre p{
    font-family: 'Questrial', sans-serif;
}
.texto{
    width: 68%;
    text-align: justify;
    font-size: 1rem;
}
.foto{
    width: 25%;
    margin: 1rem auto;
}
.foto img{
    width: 90%;
    height: auto;
    border-radius: 50%;  
}
.contenedor{
    display: inline-flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px){
    .foto{
        margin: 1rem auto;
        width: 27%;
    }
    .texto{
        margin: 0 auto;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 610px){
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .foto{
        margin: 1rem auto;
        width: 38%;
    }
    .texto{
        margin: 0 auto;
        font-size: 0.9rem;
    }
}
/*Proyectos*/

.img{
    width: 100%;
    height: auto;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.contenido{
    width: 90%;
    margin: auto;
    font-family: 'Questrial', sans-serif;
}
.contenido h2{
    color: #ffc107;
    margin: 3rem 0 0 0;
}
.descripcion{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.program{
    margin: 0.7rem 0.2rem;
    width: 18%;
    font-size: 0.8rem;
}
.about{
    margin: 0.7rem 0.2rem;
    width: 62%;
    font-size: 1rem;
    text-align: justify;
}
.btn{
    width: 6.4rem;
    margin: 3rem 0 0 1.2rem;
}
.btn a{
    text-decoration: none;
    border: 3px solid #ffeb3b;
    color: black;
    font-family: 'Questrial', sans-serif;
    padding: 0.5rem;
}
.btn a:hover{
    background: #ffeb3b;
}
@media screen and (max-width: 893px){
    .btn{
        margin: 3rem 0 0 0rem;
        font-size: 0.9rem;
        transform: translateX(18px);        
    }
    .about{
        margin: 0.7rem 0.2rem 0 0;
        font-size: 0.9rem;
    }
    .program{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 747px){
    .btn{
        margin: 3rem 0 0 0rem;
        font-size: 0.8rem;
        transform: translateX(10px);        
    }
    .about{
        margin: 0.7rem 0rem 0 0;
        font-size: 0.8rem;
    }
    .program{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 726px){
    .descripcion{
        display: flex;
        flex-direction: column;
    }
    .btn{
        margin: 0.7rem auto;
        font-size: 0.9rem;     
    }
    .about{
        margin: 0rem auto 1.7rem auto;
        font-size: 0.9rem;
    }
    .program{
        font-size: 0.8rem;
        margin: 0.7rem auto;
    }
}
/*Contacto*/
.form{
    width: 90%;
    margin: auto;
}
.serieIn{
    width: 100%;
    box-sizing: border-box;
}
.inpD, .inpZ{
    width: 47%;
    height: 1.5rem;
    padding: 0.4rem;
    margin-top: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow:0 0 1px rgba(0, 0, 0, 0.31);
    font-family: 'Questrial', sans-serif;
}
.inpZ{
    margin-right: 2.2%;
}
.msj{
    width: 100%;
    height: 6rem;
    border: 1px solid rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.31);
    box-sizing: border-box;
}
.btnX{
    width: 100%;
    margin: 1.1rem auto;
    border: 3px solid #ffeb3b;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
}
.btnX a{
    text-decoration: none;
    color: black;
    font-family: 'Questrial', sans-serif;
}
.btnX:hover{
    background: #ffeb3b;
}
@media screen and (max-width: 1200px){
    .inpZ{
        margin-right: 1.5%;
    } 
}
@media screen and (max-width: 981px){

    .inpD, .inpZ{
        width: 100%;
        height: 2.5rem;
        margin-top: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.31);
        box-shadow:0 0 1px rgba(0, 0, 0, 0.31);
        box-sizing: border-box;

    }
}